{% spaceless %}
    {#
        $optsDefault = array(
            "class" => "formbuilder__field",
            "id" => "formbuilder_" . $field->handle,
            "attributes" => false,
            "label" => false,
            "labelClass" => "formbuilder__label",
            "value" => false,
            "checked" => false,
            "selected" => false,
            "required" => $fieldLayoutField->required,
            "placeholder" => false
        );
    #}

    {% set placeholder = "" %}
    {% set required = "" %}

    {% if settings.required %}
        {% set required = "required " %}
    {% endif %}

    {% if settings.label or settings.placeholder %}
        <label class="{{ settings.labelClass }}" for="{{ settings.id }}">{{ field.name }}</label>
    {% endif %}

    <input name="{{ field.handle }}" type="file" {{ required }}id="{{ settings.id }}" class="{{ settings.class }}" />

    {% if settings.error %}
        <ul class="parsley-errors-list filled"><li class="parsley-required">{{ settings.error }}</li></ul>
    {% endif %}

{% endspaceless %}