{% spaceless %}
    {#
        $optsDefault = array(
            "class" => "formbuilder__field",
            "id" => "formbuilder_" . $field->handle,
            "attributes" => false,
            "label" => false,
            "labelClass" => "formbuilder__label",
            "value" => false,
            "checked" => false,
            "selected" => false,
            "required" => $fieldLayoutField->required,
            "placeholder" => false,
            "validation" => $validationType,
            "error" => $error
        );
    #}

    {% set datetime = field.settings.showDate ? "date" : "" %}
    {% set datetime = field.settings.showTime ? datetime ~ "time" : datetime %}

    {% set placeholder = "" %}
    {% set required = "" %}

    {% if settings.placeholder %}
        {% set placeholder = "placeholder=" ~ field.name ~ " " %}
    {% endif %}

    {% if settings.required %}
        {% set required = "required " %}
    {% endif %}

    {% if settings.label %}
        <label class="{{ settings.labelClass }}" for="{{ settings.id }}">{{ field.name }}</label>
    {% endif %}

    <input name="{{ field.handle }}" data-parsley-type="{{ datetime }}" type="{{ datetime }}" {% if settings.error %}parsley-error{% endif %} {{ placeholder }}{{ required }}id="{{ settings.id }}" class="{{ settings.class }}" />


    {% if settings.error %}
        <ul class="parsley-errors-list filled"><li class="parsley-required">{{ settings.error }}</li></ul>
    {% endif %}

{% endspaceless %}