{% spaceless %}
    {#
        $optsDefault = array(
            "class" => "formbuilder__field",
            "id" => "formbuilder_" . $field->handle,
            "attributes" => false,
            "label" => false,
            "labelClass" => "formbuilder__label",
            "value" => false,
            "checked" => false,
            "selected" => false,
            "required" => $fieldLayoutField->required,
            "placeholder" => false,
            "validation" => $validationType,
            "error" => $error
        );
    #}

    {% set validation = settings.validation|default("text") %}
    {% set inputType = validation %}
    {% if validation == "alpha" or validation == "alphanum" %}
        {% set inputType = "text" %}
    {% endif %}

    {% set placeholder = "" %}
    {% set required = "" %}

    {% if settings.placeholder %}
        {% set placeholder = "placeholder=" ~ field.name ~ " " %}
    {% endif %}

    {% if settings.required %}
        {% set required = "required " %}
    {% endif %}

    {% if settings.label %}
        <label class="{{ settings.labelClass }}" for="{{ settings.id }}">{{ field.name }}</label>
    {% endif %}

    {% if field.settings.multiline %}
        <textarea name="{{ field.handle }}" data-parsley-type="{{ validation }}" {{ placeholder }}{{ required }}id="{{ settings.id }}" class="{{ settings.class }}" ></textarea>
    {% else %}
        <input name="{{ field.handle }}" data-parsley-type="{{ validation }}" type="{{ inputType }}" {{ placeholder }}{{ required }}id="{{ settings.id }}" class="{{ settings.class }}" />
    {% endif %}

{% endspaceless %}