{% spaceless %}
    {#
        $optsDefault = array(
            "class" => "formbuilder__field",
            "id" => "formbuilder_" . $field->handle,
            "attributes" => false,
            "label" => false,
            "labelClass" => "formbuilder__label",
            "value" => false,
            "checked" => false,
            "selected" => false,
            "required" => $fieldLayoutField->required,
            "placeholder" => false,
            "validation" => $validationType,
            "error" => $error
        );
    #}

    {% set validation = settings.validation|default("text") %}
    {% set inputType = validation %}
    {% if validation == "alpha" or validation == "alphanum" %}
        {% set inputType = "text" %}
    {% endif %}

    {% set placeholder = (settings.placeholder ? field.name : "") %}
    {% set required = (settings.required ? "required" : "") %}

    {% if settings.label %}
        <label class="{{ settings.labelClass }}" for="{{ settings.id }}">{{ field.name }}</label>
    {% endif %}

    {% if field.settings.multiline %}
        <textarea name="{{ field.handle }}" data-parsley-type="{{ validation }}" {% if settings.error %}parsley-error{% endif %} placeholder="{{ placeholder }}" {{ required }}id="{{ settings.id }}" class="{{ settings.class }}" ></textarea>
    {% else %}
        <input name="{{ field.handle }}" data-parsley-type="{{ validation }}" type="{{ inputType }}" {% if settings.error %}parsley-error{% endif %} placeholder="{{ placeholder }}" {{ required }} id="{{ settings.id }}" class="{{ settings.class }}" />
    {% endif %}

    {% if settings.error %}
        <ul class="parsley-errors-list filled"><li class="parsley-required">{{ settings.error }}</li></ul>
    {% endif %}

{% endspaceless %}
